.theme-dark .user-settings-account:after,
.theme-light .user-settings-account:after {
  color: #2ecc71; font-weight: bold;
  content: "Theme version: v0.4.41 Rewrite Beta";
}
/* GLOBAL */
:root {
  /*--<var>: <value>*/
}
/* End GLOBAL */
/* User Settings */
/* BOTH */
.ui-tab-bar.SIDE .ui-tab-bar-item:before {
  margin-right: 10px;
  vertical-align: -40%;
}

.theme-light .ui-card-primary, .theme-dark .ui-card-primary {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
}

/* DARK */
/* Emotes: https://material.io/icons/ */
.theme-dark .ui-standard-sidebar-view .sidebar-region .scroller { background-color: #181818; }
.theme-dark .ui-standard-sidebar-view .content-region .scroller { background-color: #272727; }
.theme-dark .ui-tab-bar.SIDE .ui-tab-bar-item.brand { color: #2ecc71; }
/* Account */ .theme-dark .ui-tab-bar-item:nth-of-type(2):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_person_white_24px.svg); }
/* Authorized Apps */ .theme-dark .ui-tab-bar-item:nth-of-type(3):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_security_white_24px.svg); }
/* Connections */ .theme-dark .ui-tab-bar-item:nth-of-type(4):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_signal_wifi_4_bar_white_24px.svg); }
/* Nitro */ .theme-dark .ui-tab-bar-item:nth-of-type(6):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_favorite_white_24px.svg); }
/* Voice */ div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(9):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(9):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg); }
/* Overlay */ .theme-dark .ui-tab-bar-item:nth-of-type(9):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(10):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(10):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_desktop_windows_white_24px.svg); }
/* Notification */ div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(11):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(11):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_notifications_white_24px.svg); }
/* Keybinds */ div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(12):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_white_24px.svg); }
/* Games */ .theme-dark .ui-tab-bar-item:nth-of-type(10):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(12):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(13):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_games_white_24px.svg); }
/* Text & Images */ .theme-dark .ui-tab-bar-item:nth-of-type(11):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(13):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(14):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_chat_white_24px.svg); }
/* Appearance */ .theme-dark .ui-tab-bar-item:nth-of-type(12):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(14):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(15):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_palette_white_24px.svg); }
/* Streamer Mode */ .theme-dark .ui-tab-bar-item:nth-of-type(13):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(15):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(16):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_videocam_white_24px.svg); }
/* Language */ .theme-dark .ui-tab-bar-item:nth-of-type(14):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(16):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(17):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_translate_white_24px.svg); }
/* Change log */ .theme-dark .ui-tab-bar-item:nth-of-type(16):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(18):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(19):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_edit_white_24px.svg); }
/* Log out */ .theme-dark .ui-tab-bar-item:nth-of-type(18):before, div.platform-osx .theme-dark .ui-tab-bar-item:nth-of-type(20):before, div.platform-win .theme-dark .ui-tab-bar-item:nth-of-type(21):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_reply_white_24px.svg); }

/* LIGHT */
.theme-light .ui-standard-sidebar-view .sidebar-region .scroller { background-color: #DDD; }
.theme-light .ui-standard-sidebar-view .content-region .scroller { background-color: #ecf0f1; }
.theme-light .ui-tab-bar.SIDE .ui-tab-bar-item.brand { color: #9b59b6; }
.theme-light .ui-tab-bar.SIDE .ui-tab-bar-header { color: #000000; }
.theme-light .theme-light .ui-tab-bar-item:hover { background-color: #303030; color: #ddd; }
/* Account */ .theme-light .ui-tab-bar-item:nth-of-type(2):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_person_black_24px.svg); }
/* Authorized Apps */ .theme-light .ui-tab-bar-item:nth-of-type(3):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_security_black_24px.svg); }
/* Connections */ .theme-light .ui-tab-bar-item:nth-of-type(4):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_signal_wifi_4_bar_black_24px.svg); }
/* Nitro */ .theme-light .ui-tab-bar-item:nth-of-type(6):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_favorite_black_24px.svg); }
/* Voice */ div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(9):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(9):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_black_24px.svg); }
/* Overlay */ .theme-light .ui-tab-bar-item:nth-of-type(9):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(10):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(10):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_desktop_windows_black_24px.svg); }
/* Notification */ div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(11):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(11):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_notifications_black_24px.svg); }
/* Keybinds */ div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(12):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_black_24px.svg); }
/* Games */ .theme-light .ui-tab-bar-item:nth-of-type(10):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(12):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(13):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_games_black_24px.svg); }
/* Text & Images */ .theme-light .ui-tab-bar-item:nth-of-type(11):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(13):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(14):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_chat_black_24px.svg); }
/* Appearance */ .theme-light .ui-tab-bar-item:nth-of-type(12):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(14):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(15):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_palette_black_24px.svg); }
/* Streamer Mode */ .theme-light .ui-tab-bar-item:nth-of-type(13):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(15):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(16):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_videocam_black_24px.svg); }
/* Language */ .theme-light .ui-tab-bar-item:nth-of-type(14):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(16):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(17):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_translate_black_24px.svg); }
/* Change log */ .theme-light .ui-tab-bar-item:nth-of-type(16):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(18):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(19):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_edit_black_24px.svg); }
/* Log out */ .theme-light .ui-tab-bar-item:nth-of-type(18):before, div.platform-osx .theme-light .ui-tab-bar-item:nth-of-type(20):before, div.platform-win .theme-light .ui-tab-bar-item:nth-of-type(21):before { content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_reply_black_24px.svg); }
/* END: User Settings */


/* Quick Switcher */
/* BOTH */
@-webkit-keyframes quickswitcher-menu {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes quickswitcher-menu {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.quickswitcher { animation: quickswitcher-menu 300ms ease-in-out; }

.quickswitcher.dark .result.selected, .quickswitcher.dark .result .result-action,
.quickswitcher.light .result.selected, .quickswitcher.light .result .result-action  {
  box-shadow: none;
}

.quickswitcher.dark .scroller-wrap:before, .quickswitcher.light .scroller-wrap:before { background: transparent; }

.quickswitcher .result .result-name, .quickswitcher .result .result-name:hover,
.quickswitcher .result .result-display-name, .quickswitcher .result .result-display-name:hover,
.quickswitcher .result.selected .result-display-name {
  transition: all 200ms ease;
}

.quickswitcher .result .result-name:hover, .quickswitcher .result .result-display-name:hover, .quickswitcher .result.selected .result-display-name  {
  margin-left: 1em;
}

.quickswitcher.dark .big-input, .quickswitcher.light .big-input {
  box-shadow: none;
  background: transparent;
}

.quickswitcher.dark .result.selected:after, .quickswitcher.light .result.selected:after {
  background-color: transparent;
  box-shadow: none;
}
/* DARK */
.quickswitcher.dark { background-color: #272727; }
.quickswitcher.dark .result.selected, .quickswitcher.dark .result .result-action { background-color: #181818; }
/* LIGHT | Empty to now, can be edited! */
/* END: Quick Switcher */

/* Account Section */
/* BOTH */
/*Make buttons flat on profile section*/
.account .btn-group { border: none; }
.account .btn { background: none; }
.account .btn-deafen, .account .btn-settings { box-shadow: none; }
.account .btn-deafen, .account .btn-mute { border-right: none; }
/* END: Account Section */