.guilds-wrapper .guilds .guild.audio .guild-inner:after {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTMgOXY2aDRsNSA1VjRMNyA5SDN6bTEzLjUgM2MwLTEuNzctMS4wMi0zLjI5LTIuNS00LjAzdjguMDVjMS40OC0uNzMgMi41LTIuMjUgMi41LTQuMDJ6TTE0IDMuMjN2Mi4wNmMyLjg5Ljg2IDUgMy41NCA1IDYuNzFzLTIuMTEgNS44NS01IDYuNzF2Mi4wNmM0LjAxLS45MSA3LTQuNDkgNy04Ljc3cy0yLjk5LTcuODYtNy04Ljc3eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
}
.guilds-wrapper .guilds .guild.selected a {
    opacity: 1;
    border-radius: 0% !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: transparent!important;
    border-radius: 0%!important;
    opacity: 1;
    -webkit-transition: all 50ms ease;
    transition: all 50ms ease;
}
.guilds-wrapper .guilds .guild.selected.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.unread:before {
    z-index: 100;
    -webkit-transform: translate(58px, 10px) scale(1.1);
    transform: translate(58px, 10px) scale(1.1);
    background: #F04747;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 hsla(0, 0%, 100%, .15);
    height: 12px;
    width: 12px;
    margin-top: 0px;
    -webkit-transition: all 100ms ease !important;
    transition: all 100ms ease !important;
}
.guilds-wrapper .guilds .guild.selected.unread:before {
    -webkit-transform: translate(56px, 10px) scale(1.2)!important;
    transform: translate(56px, 10px) scale(1.2)!important;
}
.guilds .guild.unread .badge {
    -webkit-transform: translate(4px, 0px)!important;
    transform: translate(4px, 0px)!important;
    z-index: 100;
}
.guilds-wrapper .guild.guilds-add {
    left: 18px;
}
.guilds-wrapper .guild.guilds-add:after {
    left: 19px;
}
.guilds-wrapper .guild.guilds-add:before {
    width: 130px;
}
.new-messages-indicator {
    display:none;
}
.guilds-wrapper {
  width: 130px;
}

.guilds-wrapper .scroller-wrap {
  width: 150px;
}

.guilds-wrapper .guilds {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.guilds-wrapper .guilds .guild:first-child {
  position: relative;
  left: 0;
  margin: auto;
  margin-top: 15px;
}

.guilds-wrapper .guilds .guild-separator {
  position: relative;
  width: 90%;
  margin-top: 10px;
}
.guilds-wrapper .guilds .guild {
  margin-left: 8px;
  margin-top: 8px;
}
.guilds-wrapper .guilds .dms {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}