.connecting {
  background: #282b30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden
}
.connecting .connecting-inner {
  text-align: center
}
.connecting .connecting-problems {
  color: #fff;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}
.connecting .connecting-problems.in {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
.connecting .connecting-problems .connecting-problems-text {
  font-family: Whitney;
  font-size: 14px;
  color: #949494;
  margin-bottom: 8px
}
.connecting .connecting-problems .statuspage, .connecting .connecting-problems .twitter {
  font-weight: 600;
  font-size: 15px;
  line-height: 15px
}
.connecting .connecting-problems .statuspage:hover, .connecting .connecting-problems .twitter:hover {
  opacity: .8
}
.connecting .connecting-problems .statuspage:before, .connecting .connecting-problems .twitter:before {
  display: inline-block;
  content: " ";
  margin-right: 6px;
  vertical-align: bottom
}
.connecting .connecting-problems .twitter:before {
  width: 16px;
  height: 15px;
  background: url(/assets/31dd73caae6b4f9011d95f5b3efc15a1.svg) 50% no-repeat;
  background-size: 16px 12px
}
.connecting .connecting-problems .statuspage {
  margin-left: 20px
}
.connecting .connecting-problems .statuspage:before {
  width: 14px;
  height: 15px;
  background: url(/assets/3c1cec05bfad03b1495eccf72c38b10c.svg) 50% no-repeat;
  background-size: 14px 14px
}
.connecting img, .connecting video {
  width: 200px;
  height: 200px
}
.connecting video {
  visibility: hidden
}
.connecting video.ready {
  visibility: visible
}
.connecting .attribution, .connecting .connection-status, .connecting .quote {
  color: #8a8e94;
  font-size: 12px;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 600px;
  line-height: 16px
}
.connecting .attribution {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 10px
}
.connecting .attribution a {
  color: hsla(0, 0%, 100%, .6);
  text-decoration: none
}
.connecting .attribution a:hover {
  text-decoration: underline
}
.connecting .quote {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  font-size: 16px
}
.app, .connecting {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-rendering: optimizeLegibility
}
.app a, .connecting a {
  color: #00b0f4;
  -webkit-transition: .05s;
  transition: .05s;
  text-decoration: none
}
.app h1, .connecting h1 {
  color: #737f8d;
  font-size: 22px;
  font-weight: 400;
  line-height: 8px
}
.app button, .connecting button {
  cursor: pointer
}
