//META{"name":"Discord Theme","description":"It's a theme, daaa..","author":"AlexFlipnote","version":"Auto Update"}*//{}

/* This will automatically update your theme to the latest release */
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";


/* NOTE: Do you want the background version of this theme? Just uncomment the @import */
/* @import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css"; */

/*
  body = Set background (Must be HTTPS)
  .app = The RGBA to the overlay (Over the background)
*/
body { background: url("https://festive.tf/assets/images/forest_bg.jpg"); }
.app { background: rgba(0, 0, 0, 0.5); }


/* If you want to fix the background, here you go, might need to know CSS before you edit this */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
