:root{
	--code-max-height: 150px;
}

code{
	max-height: var(--code-max-height);
	overflow: hidden;
}

code:hover{
	max-height: initial;
	overflow: initial;
	display: initial;
}

pre:not(:hover)::after{
    display: inline-block;
    position: relative;
    content: " ..." !important;
    margin-top: 10px;
    animation: bounce 4s 0s infinite alternate;
}

@keyframes bounce{
    0%, 10%, 100%{
        bottom: 0px;
    }

    5%{
        bottom: 10px;
    }
}