/* Plugin Made by Discord User @ .JS#2125
   also on Github @ https://github.com/wwdc17 */
/* PM .JS for support */

:root {
  /*--<var>: <value>*/
  --rednotif: #FF0000;
  --notif: #7289DA;
  --accent: #7289DA;
  --dark-primary: #23272A;
  --dark-secondary: #2C2F33;
  --dark-highlight: #23272A;
  --dark-highlight-guildlist: #23272A;
  --nsfw-image: url("https://i.alexflipnote.xyz/c2472b.png");
}

/* Server Section */
/* BOTH */
.guilds-wrapper { background: var(--dark-highlight-guildlist); }
/* End Server Section */

/* Notifications */
.badge {
  background-color: var(--rednotif);
}
.new-messages-indicator.new-messages-indicator-mention {
  background-color: var(--rednotif);
}
.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.selected.unread:before,
.guilds-wrapper .guilds .guild.unread:before {
  z-index: 100;
  background: var(--notif);
  height: 12px;
  width: 12px;
  margin-top: 0px;
  margin-top: 35px!important;
  margin-left: -30px!important;
  border-radius: 50%;
  border: 0.5px solid black;
}
/* End Notifications */

/* THANKS FOR USING DEFDARKCOLORS.CSS */
