/* DiscordInjections Plugin Support / Ask me if you want your plugin supported too! */

/* Snazzah - DiscordBots */
.with-background .header-info { background-color: rgba(0,0,0,0.4)!important; }
.with-background .header-info:before { background-color: rgba(0,0,0,0.4); }
.db-prefix { color: rgba(255,255,255,0.8)!important; }
.user-popout .header .member-roles { width: 100%; padding-left: 272px; }

/* Snazzah - Citador */
.quote-msg .message-group{margin-bottom:0px!important;}
.theme-dark .quote-msg{background-color:var(--dark-primary);border-top:1px solid rgba(255,255,255,0.25);}
.theme-dark .quote-msg+.innerEnabled-gLHeOL{border-top:1px solid rgba(255,255,255,0.1)!important;}
.theme-light .quote-msg{background-color:var(--light-primary);}

/* Snazzah - DiscordCardsDashboard */
.theme-dark .dc-user-options,.theme-dark .dc-inv{background:var(--dark-primary);}
.dc-user-options,.dc-inv{-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.16);box-shadow:inset 0 1px 3px rgba(0,0,0,.16);}
.theme-dark .dc-flex .message-group-blocked-btn{background:var(--dark-primary);color:#ccc;transition:all 250ms ease;border:0;box-shadow:transparent;}
.theme-dark .dc-flex .message-group-blocked:hover{-webkit-box-shadow:0 1px 3px rgba(0,0,0,.16);box-shadow:0 1px 3px rgba(0,0,0,.16);}

/* Snazzah - DiscodInjections CommandHandler */
.theme-dark .channel-text-area-default .di-autocomplete-commandinfo {background:transparent!important;}
