/* DiscordInjections Plugin Support / Ask me if you want your plugin supported too! */

/* Snazzah - DiscordBots */
.with-background .header-info { background-color: rgba(0,0,0,0.4)!important; }
.with-background .header-info:before { background-color: rgba(0,0,0,0.4); }
.db-prefix { color: rgba(255,255,255,0.8)!important; }
.user-popout .header .member-roles { width: 100%; padding-left: 272px; }

/* Snazzah - Citador */
.quote-msg .message-group{margin-bottom:0px!important;}
.theme-dark .quote-msg{background-color:var(--dark-primary);border-top:1px solid rgba(255,255,255,0.25);}
.theme-dark .quote-msg+.innerEnabled-gLHeOL{border-top:1px solid rgba(255,255,255,0.1)!important;}
.theme-light .quote-msg{background-color:var(--light-primary);}

/* Snazzah - DiscordCardsDashboard */
.theme-dark .dc-user-options,.theme-dark .dc-inv{background:var(--dark-primary);}
.dc-user-options,.dc-inv{-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.16);box-shadow:inset 0 1px 3px rgba(0,0,0,.16);}
.theme-dark .dc-flex .message-group-blocked-btn{background:var(--dark-primary);color:#ccc;transition:all 250ms ease;border:0;box-shadow:transparent;}
.theme-dark .dc-flex .message-group-blocked:hover{-webkit-box-shadow:0 1px 3px rgba(0,0,0,.16);box-shadow:0 1px 3px rgba(0,0,0,.16);}

/* Snazzah - DiscodInjections CommandHandler */
.theme-dark .channel-text-area-default .di-autocomplete-commandinfo {background:transparent!important;}

/* Snazzah - BetterFormattingRedux */
.bf-toolbar:before{background:var(--dark-highlight)!important;}

/* Snazzah - LineStickers */
.theme-dark #bda-qem-line-container, .theme-dark #bda-qem-line-container .preview-container .preview-wrapper {
    background-color: var(--dark-primary)!important;
    border-color: var(--dark-highlight)!important;
}
.theme-dark #bda-qem-line-container .emote-container:hover {
    background-color: var(--dark-secondary)!important;
    border-color: var(--dark-secondary)!important;
}
.theme-dark #bda-qem-line-container .scroller::-webkit-scrollbar,
.theme-dark #bda-qem-line-container .scroller::-webkit-scrollbar-track,
.theme-dark #bda-qem-line-container .scroller::-webkit-scrollbar-track-piece {
    background-color: var(--dark-primary) !important;
    border-color: var(--dark-primary) !important; 
}
.theme-dark #bda-qem-line-container .scroller::-webkit-scrollbar-thumb {
    border-color: var(--dark-highlight) !important;
    background-color: var(--dark-highlight) !important;
}
.theme-dark #bda-qem-line-container .add-pack {
    opacity: 0.2 !important;
    filter: invert(1);
}
.theme-dark #bda-qem-line-container .item:hover .add-pack {
    opacity: 0.5 !important;
}
