/* Credits to TheBITLINK for making this, I just made it into a snippet */

/* Dark theme */
.theme-dark .search .search-bar {
  background: none !important;
  border-radius: 0;
}

.theme-dark .search.open .search-bar {
  border-bottom: 2px solid #273239;
}

.theme-dark .search.focused .search-bar {
  border-bottom: 2px solid #0ea1b6;
}

.theme-dark .search:not(.focused):not(.open) {
  width: 32px !important;
}

.theme-dark .search:not(.focused):not(.open) .icon-search-bar-eye-glass {
  opacity: 0.7 !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar:hover .icon-search-bar-eye-glass {
  opacity: 0.9 !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar {
  width: 32px !important;
  cursor: pointer !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar-icon {
  pointer-events: none;
}

/* Light theme */
.theme-light .search .search-bar {
  background: none !important;
  border-radius: 0;
}

.theme-light .search.open .search-bar {
  border-bottom: 2px solid #273239;
}

.theme-light .search.focused .search-bar {
  border-bottom: 2px solid #0ea1b6;
}

.theme-light .search:not(.focused):not(.open) {
  width: 32px !important;
}

.theme-light .search:not(.focused):not(.open) .icon-search-bar-eye-glass {
  opacity: 0.7 !important;
}

.theme-light .search:not(.focused):not(.open) .search-bar:hover .icon-search-bar-eye-glass {
  opacity: 0.9 !important;
}

.theme-light .search:not(.focused):not(.open) .search-bar {
  width: 32px !important;
  cursor: pointer !important;
}

.theme-light .search:not(.focused):not(.open) .search-bar-icon {
  pointer-events: none;
}