/* This is just a mess, but works! o.o */
.search-bar, .friends-header, .chat>.title-wrap, .chat>.title-wrap>.title, .theme-dark .chat form,
.guild-header, .chat .title-wrap .private-channels .channel:active, .guild-channels .channel-text:active,
.channel-members .member.popout-open, .private-channels .channel.selected, .guild-channels .channel-text.selected,
.theme-dark .messages-wrapper, .guild-channels, .theme-dark .chat .title-wrap,
.theme-dark .chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper,
.private-channels, .channel-members, .guilds-wrapper, .channel-members, .channel-textarea, .theme-dark .channel-textarea-inner,
#friends, .account .btn-group, #friends .friends-table .friends-table-header,
#friends .friends-table, .flex-horizontal>.flex-spacer, .chat .messages, .guild-header header,
.friends-table .messages .message-group:not(.has-divider), .messages-wrapper .messages .message-group:not(.has-divider),
#rtc-connection .btn-group, .account .btn-group, .account .btn-mute, .account .btn-deafen, .account .btn-settings,
.channel-textarea, .comment, .scroller .guild-channels, .channels-wrap, .theme-dark .layers, .channel-members-wrap,
.channel-members-wrap .scroller-wrap.fade.dark, .search-bar, .friends-header, .guild-header header, .chat>.title-wrap>.title, .chat .title-wrap,
.chat .messages-wrapper, .chat .messages-wrapper .scroller-wrap, .chat form .typing:hover, .typing .text,
.chat form .typing, .theme-dark .chat .private-channel-call,
.theme-dark .layer, .theme-dark .layers, .theme-light .layer, .theme-light .layers {
  background: transparent!important;
  box-shadow: none;
  border-bottom: 0px solid #fff;
  border-top: none;
  opacity: 1;
}

.container-RYiLUQ {
  position: relative;
  background-color: transparent;
  min-height: 0;
}

div[class*="scrollerWrap-"],
div[class*="container-"] div[class*="scrollerWrap-"] div[class*="scroller"] {
  background: transparent !important;
}

.channels-wrap > div[class*="container-"] {
  background: transparent!important;
}

.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span {
  background-color: transparent;
}

.channel-textarea-inner textarea, .chat .title-wrap .topic, .theme-dark .search-results-wrap .search-result .hit {
  color: rgba(255, 255, 255, 0.8)!important;
}

div[class*="container-"], div[class*="content-"]:not(.content-region),
.theme-dark .chat > .content > .flex-justify-center, .ui-flex > .flex-nowrap,
#rtc-connection .btn, #rtc-connection .btn-group, #rtc-connection .btn-disconnect {
  background: transparent!important;
  border: none;
  box-shadow: none;
}

.theme-dark .chat .private-channel-call {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#rtc-connection {
  background: rgba(0, 0, 0, 0.3);
  border-top: none;
}

.message-group-blocked {
  background: rgba(0, 0, 0, 0.5)!important;
  border-color: rgba(0, 0, 0, 0.5)!important;
}

.guild-channels .channel-text:hover, .channel-members .member:hover,
.private-channels .channel:hover, .theme-dark #friends .friends-table .friends-row:hover, .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar,
.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb:active, .theme-dark .search-results-wrap .search-result .hit {
  background: rgba(0, 0, 0, 0.4)!important
}

.channel-textarea, .account, .search-result.expanded .search-result-message:not(.hit), .search-result .search-result-message:not(.hit),
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit, .search-results-wrap,
.search-results-wrap .search-header {
  background: rgba(0, 0, 0, 0.3)!important;
}

.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.2) !important;
}

.theme-dark .channel-text-area-default div[class*="inner-"] { background-color: transparent; }
.theme-dark .channel-text-area-default div[class*="autocomplete-"] { background: rgba(0, 0, 0, 0.75); }
.theme-dark .search-results-wrap .scroller-wrap .scroller { background-color: transparent; }

/* Had to rework for the new styles */
.theme-dark .chat form, .account{
  background-color: rgba(0,0,0,0.0);
  box-shadow: none;
}


.theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view, .scroller-wrap, .theme-dark .ui-standard-sidebar-view .sidebar-region,
.ui-standard-sidebar-view .content-region .scroller-wrap, .theme-dark .ui-standard-sidebar-view .content-region .scroller, .ui-standard-sidebar-view .content-column.default,
.theme-dark .ui-standard-sidebar-view .content-region {
  background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region .scroller, .theme-dark .ui-standard-sidebar-view .content-region .scrollbar, .ui-standard-sidebar-view {
  background: rgba(0, 0, 0, 0.3);
}

.theme-light .ui-standard-sidebar-view .content-region, .theme-light .ui-standard-sidebar-view, .scroller-wrap, .theme-light .ui-standard-sidebar-view .sidebar-region,
.ui-standard-sidebar-view .content-region .scroller-wrap, .theme-light .ui-standard-sidebar-view .content-region .scroller, .ui-standard-sidebar-view .content-column.default,
.theme-light .ui-standard-sidebar-view .content-region {
  background: transparent;
}
.theme-light .ui-tab-bar-item { color: #000; }
.theme-light .ui-form-title { color: #fff; }
.theme-light .ui-standard-sidebar-view .sidebar-region .scroller, .theme-light .ui-standard-sidebar-view .content-region .scrollbar, .ui-standard-sidebar-view {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

/* Server members loading */
.theme-dark .channel-members-loading, .theme-dark .channel-members-loading .background,
.theme-light .channel-members-loading, .theme-light .channel-members-loading .background {
  background: transparent;
}

.theme-dark .channel-members-wrap > div,
.theme-light .channel-members-wrap > div{
  opacity: 0!important; /* display: none; causes performance issues for me */
}
.theme-dark .channel-members-wrap > div:last-child,
.theme-light .channel-members-wrap > div:last-child{
  opacity: 1!important;
}

/* DARK */
.theme-dark .channel-members-loading .heading{
  animation: opacity 3s infinite;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAAyCAYAAABidVYtAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAEnSURBVHja7NhBToNAGIbhn6EQbG9g4tat6cb7r90YtyauXHgDOykw4yEwNjjPcwHCl3mhtKu1BrBPyQQgYEDAgIBBwICAAQEDAgYBAwIGBAwCBgQMCBgQMAgYEDAgYEDAIGBAwICAQcCAgAEBAwIGAQMCBn7R4VYXfjo/R98fpmW+1i6l3NLopZRpGMduXZb89vriFLLPN3DOl/vW4o2ISCnlfPl+cPzYdcDDMHy0OvwwjO+OH76BQcAeHjdyMAF7jaiYH7wF92wxAQIGAf+9eb4+tjp8y/fOPwn4bjp+lrKeWhu9lPU0Tccvx4+tbvov6LIuOaU+IqJr5GFZIiJS6mNdff6yXVdrtQL4CQ0IGBAwCBgQMCBgQMAgYEDAwBY/AAAA//8DAJFVN1roWRkrAAAAAElFTkSuQmCC');
}
.theme-dark .channel-members-loading .member{
  animation: opacity 3s infinite;
  background-size: auto 40px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAOuSURBVHja7N3LaxVnGMfx7zFH6xWDuBT0P4i6EBQvFErqLXYvdCFdeEGEunDRWmJsLYWCLUJbuihdCO41prERF9ZFwIUX/ANUcCMUL1ibpEbHxfsaS8BgJjNn3nPm+4FZJTPnOTMPv3NmzvvONLIsQ5LawTx3gSQDS5IMLEkGliQZWJJUjGaKRfWs25B31W3AfGArsHHa3yaBn4Bx4A7w0MOvMty+ed2dUKfAyqE3htWBGFjLZgi0SWAUuAr8DDyxDSRPCVsVVH/G5QtgxQxhBbAo/r0XOAXcBU4A3baCZGCVpRu4GIOqd47b6Y/B1Wc7SAZW0XYA94BdBQfgBWDQlpAMrCLD6g9geUnb3w0M2xaSgVVUWJVte4teR1KHBtb6FofIDsI1MkkG1syy/y2EoRe/VVDGLmCPLSIZWLNxElhb0WufBxbbJpKB9U6Nt8tK4FjF5Xxlm0gG1vv4HOhKoIYltopUvZSn5qwAjiRQxwfxW94Jpi6rzdkyW68jPHMXGFhv7AOWJlLLUeAb4MUcttENHCL8Atlj63WE24Rxe85JrXNgZdDVgNUJlbSQMFj175zr7wTOUd6AV1Vjc1yOAXtx/F7pUr3ovhX4NLFg359z3SXAkGHV0ZbHY+y1zjoGFuG60aLEaspzetoABmyz2hig+h+JDKwKTAL/JVbTeM5vV4dts9o4DGxxN9QvsLoSrK2Z8300bLPaaOBA41oGliS1TWC9BF4leJqa5334aO36yIB/3Q31C6wmsCCxmhbmWOc5cMY2q40zwDV3Q/0CawIYS6ymf3J+4vbbZrXRH79Vq06BlcFfwNnETgd/zbnuGOFOpk9tt471JB7jMXdF+adeyWmET6n7CZU0PsfAGQLW4NScTuPUHANryu+ECccpzCc8Tb6L7tM/hb+Ni5OfO4OTnw2sKY+AH4HjFdcxAXxPsb/22ehSDqmPwzodA6NKP5DvgrukmgXWY+C7imv42jaRDKz3dQq4VdFrf4IDASUDaxZeAJ9V8LpDhKdBSzKwZuUG4SZ4rTJMGFcjycDKHSKtCK1LLQ5HSR0YWG9C6yNgtKTtXyQM7JRkYBXiCrCJcI2pKE8JT3nusyUkA6sMu4GPgRHyP83mEeG2tmuAQdtBSluzzesficsq4CBwAJjPu6e+TBBuvTwK/BLXddiCZGC11APgS+ByfE8fAhum/c/LGFLPgTvAQw+/1F4aWeYNMSW1B+/pLsnAkiQDS5KBJUkGliQV5DUAAAD//wMA302WTc2JaZ8AAAAASUVORK5CYII=');
}
.theme-dark .channel-members-loading .member:nth-child(3n+2), .theme-dark .channel-members-loading .member:nth-child(7n+4){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAKhSURBVHja7NzBThNRFIDhc8690wIBJOlKXbjwAYwb33/txvgEJiYaN1UTsEVm7jlugLCAEZrSmTv9v4QNgTI5vfzcmWnRiBAAqIExAgAECwAIFgCCBQAECwAIFoA9k8d6YO/ef9j0Wx/zOg3lqUcNPn/6yBBqCNYzROqhrydeAMEaZaj6HoNwASNX6zWs2FKsth0/AARrZ2EJIVwAwapsF0S0AIJFRABMP1ixJz8TQI9R3yVUSzkkTsV9yFBy9xBgh9UvmeW/l+sX4r4cdEBmr1gmAMHq39qoStM03dDH4e7fWCYAweoPRSmdqv7mKQJwY7TXsDQihY7m8tFWrmW5lyOzdCAiS5Ye7rFw90szWzGKyoLlpsc6kft0pSuHKaeVWWLFoc/S7Pakh5s9NZ0SasgkTgebpjlJOfEXE0/e1eec5oyhkmBNxdXV1RlTwGZrp33JFAjWbneKql+ZAjb65TT7whQI1qZmjAAgWFWICK6YAwSrmlO7NVMACNakuftbpoAN184bpkCwdmo2m/1gCtjEfD7/xRQqCVaonk1hwF3XrUopRyw1PG3dlKO2bc+ZRCXBMveLqQw5pbQWEXX3mYgsWHZ4wCIiDkREc05cM73HaN+aE6plRIezlbdJmFkrIj+Ft13goYWmLI0qd1jXT94pTxGAKoKV8/AvfTKz1ywTgGD9V9t25yLSDHkM7v6dZQIQrMca8r+OckEBIFhVhINYAQSLgACYfrB2FS0ljgDB2opSyjG7OIBgVSGl9OeZdkHECiBYz376lrbwGMQKIFg74aXrTq7D9djwaCnlMNwzSwAgWLs9Tcz5QkT8JkahOr+zc7r9uPN5SSldqllhCQAVnVJFBFMAwA4LAAgWAIIFAAQLAAgWgH3yDwAA//8DAEqolpq3PZ5WAAAAAElFTkSuQmCC');
}
.theme-dark .channel-members-loading .member:nth-child(2n-4), .theme-dark .channel-members-loading .member:nth-child(7n-1){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAOrSURBVHja7N1NaxVXHMfx75irSUylQVwK+g7ULgLtwlKwaa2J4gtwIQrqplgXUtS22lYtFVQoKoIPC1+BJmqNuNBNwEUfyAuwghuhWMWHPJh0XJypoCVmMpl750z4fmBWN3Pn3HP/+d07d845k6RpiiTVwQK7QJKBJUkGliQDS5IMLEkqRyPGRq1a01N014+BhcBa4MO3HpsETgFjwAjw0LdfM/nz97t2goFVut4srHZmgbXkHYE2CQwDt4HTwGPLQPKUsFVBdSPb9gFL3xFWAJ3Z473AYeAecBDothQkA6tZuoHBLKh65/g832XB1W85SAZW2dYDfwEbSg7AK8CAJSEZWGWG1TXg/SY9fx9w3bKQDKyywqrZPm/RcSTN08D6oMUhsp7wG5kkA2sGyRtbAzhfQSs2ABstEcnAmo3vgdUVHfsysNgykQys6aWvt2Wk7K24Nd9YJpKBlcdXQFsEbeiyVKTqxTw1ZynwZQTtaAf2EkbEl7U86xJLL8rv9c/sBgOrqK3Ae5G0ZQ/wI/Byjs+zj3AFcpWlF2VgXSCMwxuyOwys/BLagBXEs9x8B2Gw6t8F9/8UOMT/V5BQXHZn2yCwmTBRXhGJ9Uf3taRsiSzYdxTctzP7xDas6qOPMMdUBlYu7dk/ekyKnJ4m2Tcr1c/XwHK7wcDKYxKYiKxNYwX26SKOCwcq9q16u91gYOXRFmHbGgVfR2KZ1Va7XWBgSdK8Cqwp4N8IT1OLvA5vrV1f43aBgZX39GtRZG3qKLDPc+AXy6yWJoBzdoOBlfeTbTSyNhUZBZ0C31pmtXQUeGA3GFgzS7hDwqXITgfPFtx3lLDu/LDlVhs/E25SoghPveKTMgXcj6hFY8CTOex/M9ucmhMvp+YYWHNykTDhOIb5hMcpZ5rGkWxz8nOcgeXkZwOrsEfASeBAxe0YB45R7tW+p5aeNHuxj8M6TvWXlk/4ySsZWHn8A/xUcRt+sEwkAyuvw8AfFR17E/DCMpEMrLxeAtsqOO5Vwt2gJRlYs/Ib8EULj3edsCaSJAOrcIi0IrR+bXE4SpqHgfVfaK2jeaPGBwkDOyUZWKW4BXxE+I2pLE8Id3nutyQkA6sZ+oDPCNMoit7N5hFhCeOVwIDlIMWtUfP2D2XbcmAXsBNYyPRTX8YJy4YMA2eyfR22IBlYLfUA2E+YYNwAPgF63vqbqSykngMjwEPffqlekjR1QUxJ9eCa7pIMLEkysCQZWJJkYElSSV4BAAD//wMApoKZxcqbQ9oAAAAASUVORK5CYII=');
}

/* Keyframes */
@keyframes opacity {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
