/* This is just a mess, but works! o.o */
.search-bar, .friends-header, .chat>.title-wrap, .chat>.title-wrap>.title, .theme-dark .chat form,
.guild-header, .chat .title-wrap .private-channels .channel:active, .guild-channels .channel-text:active,
.channel-members .member.popout-open, .private-channels .channel.selected, .guild-channels .channel-text.selected,
.theme-dark .messages-wrapper, .guild-channels, .theme-dark .chat .title-wrap,
.theme-dark .chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper,
.private-channels, .channel-members, .guilds-wrapper, .channel-members, .channel-textarea, .theme-dark .channel-textarea-inner,
#friends, .account .btn-group, #friends .friends-table .friends-table-header,
#friends .friends-table, .flex-horizontal>.flex-spacer, .chat .messages, .guild-header header,
.friends-table .messages .message-group:not(.has-divider), .messages-wrapper .messages .message-group:not(.has-divider),
#rtc-connection .btn-group, .account .btn-group, .account .btn-mute, .account .btn-deafen, .account .btn-settings,
.channel-textarea, .comment, .scroller .guild-channels, .channels-wrap, .theme-dark .layers, .channel-members-wrap,
.channel-members-wrap .scroller-wrap.fade.dark, .search-bar, .friends-header, .guild-header header, .chat>.title-wrap>.title, .chat .title-wrap,
.chat .messages-wrapper, .chat .messages-wrapper .scroller-wrap, .chat form .typing:hover, .typing .text, .theme-dark .chat .private-channel-call,
.theme-dark .layer, .theme-dark .layers, .theme-light .layer, .theme-light .layers {
  background: transparent!important;
  box-shadow: none;
  border-bottom: 0px solid #fff;
  border-top: none;
  opacity: 1;
}

.container-RYiLUQ {
  position: relative;
  background-color: transparent;
  min-height: 0;
}

.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span {
  background-color: transparent;
}

.channel-textarea-inner textarea, .chat .title-wrap .topic, .theme-dark .search-results-wrap .search-result .hit {
  color: rgba(255, 255, 255, 0.8)!important;
}

/* NEW CHANNELS FIX  [Thanks Maxie and Charles]*/
div[class*="container-"], div[class*="content-"]:not(.content-region) {
    background-color: rgba(0,0,0,0) !important;
}

.theme-dark .chat > .content > .flex-justify-center {
  background:transparent;
}

.ui-flex > .flex-nowrap {
  background: transparent;
}

.theme-dark .chat .private-channel-call {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#rtc-connection {
  background: rgba(0, 0, 0, 0.3);
  border-top: none;
}

#rtc-connection .btn, #rtc-connection .btn-group, #rtc-connection .btn-disconnect {
  background: transparent;
  border: none;
  box-shadow: none;
}

.message-group-blocked {
  background: rgba(0, 0, 0, 0.5)!important;
  border-color: rgba(0, 0, 0, 0.5)!important;
}

.guild-channels .channel-text:hover, .channel-members .member:hover,
.private-channels .channel:hover, .theme-dark #friends .friends-table .friends-row:hover, .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar,
.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb:active, .theme-dark .search-results-wrap .search-result .hit {
  background: rgba(0, 0, 0, 0.4)!important
}

.chat form .typing, .channel-textarea, .account, .search-result.expanded .search-result-message:not(.hit), .search-result .search-result-message:not(.hit),
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit, .search-results-wrap,
.search-results-wrap .search-header {
  background: rgba(0, 0, 0, 0.3)!important;
}

.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.2) !important;
}

/* Had to rework for the new styles */
.theme-dark .chat form, .account{
  background-color: rgba(0,0,0,0.0);
  box-shadow: none;
}


.theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view, .scroller-wrap, .theme-dark .ui-standard-sidebar-view .sidebar-region,
.ui-standard-sidebar-view .content-region .scroller-wrap, .theme-dark .ui-standard-sidebar-view .content-region .scroller, .ui-standard-sidebar-view .content-column.default,
.theme-dark .ui-standard-sidebar-view .content-region {
  background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region .scroller, .theme-dark .ui-standard-sidebar-view .content-region .scrollbar, .ui-standard-sidebar-view {
  background: rgba(0, 0, 0, 0.3);
}

.theme-light .ui-standard-sidebar-view .content-region, .theme-light .ui-standard-sidebar-view, .scroller-wrap, .theme-light .ui-standard-sidebar-view .sidebar-region,
.ui-standard-sidebar-view .content-region .scroller-wrap, .theme-light .ui-standard-sidebar-view .content-region .scroller, .ui-standard-sidebar-view .content-column.default,
.theme-light .ui-standard-sidebar-view .content-region {
  background: transparent;
}
.theme-light .ui-tab-bar-item { color: #000; }
.theme-light .ui-form-title { color: #fff; }
.theme-light .ui-standard-sidebar-view .sidebar-region .scroller, .theme-light .ui-standard-sidebar-view .content-region .scrollbar, .ui-standard-sidebar-view {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

/* White Theme Support */
.theme-light .chat form, .theme-light .messages-wrapper, .guild-channels, .theme-light .chat .title-wrap,
.theme-light .chat>.content, .theme-light .friends-table, .theme-light .messages-wrapper,
.theme-light .channel-textarea-inner, .theme-light .layers, .channel-members-wrap,
.theme-light .chat .private-channel-call, .theme-light .layer, .theme-light .layers, .theme-light .layer, .theme-light .layers {
  background: transparent!important;
  box-shadow: none;
  border-bottom: 0px solid #fff;
  border-top: none;
  opacity: 1;
}

.theme-light .search-results-wrap .search-result .hit { color: rgba(255, 255, 255, 0.8)!important; }
.theme-light .chat .private-channel-call { border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
.message-group .comment .message-text .markup { color: hsla(0,0%,100%,.7) !important; }
.channel-members h2 { color: #fff; }

.theme-light #friends .friends-table .friends-row:hover
.theme-light .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb:active, .theme-light .search-results-wrap .search-result .hit {
  background: rgba(255, 255, 255, 0.5)!important
}

.theme-light .search-results-wrap .search-result.expanded .search-result-message.hit {
  background: rgba(255, 255, 255, 0.2)!important;
}

.theme-light .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb { background: rgba(225, 225, 225, 0.3) !important; }

/* Had to rework for the new styles */
.theme-light .chat form, .account{
  background-color: rgba(0,0,0,0.0);
  box-shadow: none;
}

/* Server members loading */
.theme-dark .channel-members-loading, .theme-dark .channel-members-loading .background,
.theme-light .channel-members-loading, .theme-light .channel-members-loading .background {
  background: transparent;
}

.theme-dark .channel-members-wrap > div,
.theme-light .channel-members-wrap > div{
  opacity: 0!important; /* display: none; causes performance issues for me */
}
.theme-dark .channel-members-wrap > div:last-child,
.theme-light .channel-members-wrap > div:last-child{
  opacity: 1!important;
}

/* DARK */
.theme-dark .channel-members-loading .heading{
  animation: opacity 3s infinite;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAAyCAYAAABidVYtAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAEnSURBVHja7NhBToNAGIbhn6EQbG9g4tat6cb7r90YtyauXHgDOykw4yEwNjjPcwHCl3mhtKu1BrBPyQQgYEDAgIBBwICAAQEDAgYBAwIGBAwCBgQMCBgQMAgYEDAgYEDAIGBAwICAQcCAgAEBAwIGAQMCBn7R4VYXfjo/R98fpmW+1i6l3NLopZRpGMduXZb89vriFLLPN3DOl/vW4o2ISCnlfPl+cPzYdcDDMHy0OvwwjO+OH76BQcAeHjdyMAF7jaiYH7wF92wxAQIGAf+9eb4+tjp8y/fOPwn4bjp+lrKeWhu9lPU0Tccvx4+tbvov6LIuOaU+IqJr5GFZIiJS6mNdff6yXVdrtQL4CQ0IGBAwCBgQMCBgQMAgYEDAwBY/AAAA//8DAJFVN1roWRkrAAAAAElFTkSuQmCC');
}
.theme-dark .channel-members-loading .member{
  animation: opacity 3s infinite;
  background-size: auto 40px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAOuSURBVHja7N3LaxVnGMfx7zFH6xWDuBT0P4i6EBQvFErqLXYvdCFdeEGEunDRWmJsLYWCLUJbuihdCO41prERF9ZFwIUX/ANUcCMUL1ibpEbHxfsaS8BgJjNn3nPm+4FZJTPnOTMPv3NmzvvONLIsQ5LawTx3gSQDS5IMLEkGliQZWJJUjGaKRfWs25B31W3AfGArsHHa3yaBn4Bx4A7w0MOvMty+ed2dUKfAyqE3htWBGFjLZgi0SWAUuAr8DDyxDSRPCVsVVH/G5QtgxQxhBbAo/r0XOAXcBU4A3baCZGCVpRu4GIOqd47b6Y/B1Wc7SAZW0XYA94BdBQfgBWDQlpAMrCLD6g9geUnb3w0M2xaSgVVUWJVte4teR1KHBtb6FofIDsI1MkkG1syy/y2EoRe/VVDGLmCPLSIZWLNxElhb0WufBxbbJpKB9U6Nt8tK4FjF5Xxlm0gG1vv4HOhKoIYltopUvZSn5qwAjiRQxwfxW94Jpi6rzdkyW68jPHMXGFhv7AOWJlLLUeAb4MUcttENHCL8Atlj63WE24Rxe85JrXNgZdDVgNUJlbSQMFj175zr7wTOUd6AV1Vjc1yOAXtx/F7pUr3ovhX4NLFg359z3SXAkGHV0ZbHY+y1zjoGFuG60aLEaspzetoABmyz2hig+h+JDKwKTAL/JVbTeM5vV4dts9o4DGxxN9QvsLoSrK2Z8300bLPaaOBA41oGliS1TWC9BF4leJqa5334aO36yIB/3Q31C6wmsCCxmhbmWOc5cMY2q40zwDV3Q/0CawIYS6ymf3J+4vbbZrXRH79Vq06BlcFfwNnETgd/zbnuGOFOpk9tt471JB7jMXdF+adeyWmET6n7CZU0PsfAGQLW4NScTuPUHANryu+ECccpzCc8Tb6L7tM/hb+Ni5OfO4OTnw2sKY+AH4HjFdcxAXxPsb/22ehSDqmPwzodA6NKP5DvgrukmgXWY+C7imv42jaRDKz3dQq4VdFrf4IDASUDaxZeAJ9V8LpDhKdBSzKwZuUG4SZ4rTJMGFcjycDKHSKtCK1LLQ5HSR0YWG9C6yNgtKTtXyQM7JRkYBXiCrCJcI2pKE8JT3nusyUkA6sMu4GPgRHyP83mEeG2tmuAQdtBSluzzesficsq4CBwAJjPu6e+TBBuvTwK/BLXddiCZGC11APgS+ByfE8fAhum/c/LGFLPgTvAQw+/1F4aWeYNMSW1B+/pLsnAkiQDS5KBJUkGliQV5DUAAAD//wMA302WTc2JaZ8AAAAASUVORK5CYII=');
}
.theme-dark .channel-members-loading .member:nth-child(3n+2), .theme-dark .channel-members-loading .member:nth-child(7n+4){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAKhSURBVHja7NzBThNRFIDhc8690wIBJOlKXbjwAYwb33/txvgEJiYaN1UTsEVm7jlugLCAEZrSmTv9v4QNgTI5vfzcmWnRiBAAqIExAgAECwAIFgCCBQAECwAIFoA9k8d6YO/ef9j0Wx/zOg3lqUcNPn/6yBBqCNYzROqhrydeAMEaZaj6HoNwASNX6zWs2FKsth0/AARrZ2EJIVwAwapsF0S0AIJFRABMP1ixJz8TQI9R3yVUSzkkTsV9yFBy9xBgh9UvmeW/l+sX4r4cdEBmr1gmAMHq39qoStM03dDH4e7fWCYAweoPRSmdqv7mKQJwY7TXsDQihY7m8tFWrmW5lyOzdCAiS5Ye7rFw90szWzGKyoLlpsc6kft0pSuHKaeVWWLFoc/S7Pakh5s9NZ0SasgkTgebpjlJOfEXE0/e1eec5oyhkmBNxdXV1RlTwGZrp33JFAjWbneKql+ZAjb65TT7whQI1qZmjAAgWFWICK6YAwSrmlO7NVMACNakuftbpoAN184bpkCwdmo2m/1gCtjEfD7/xRQqCVaonk1hwF3XrUopRyw1PG3dlKO2bc+ZRCXBMveLqQw5pbQWEXX3mYgsWHZ4wCIiDkREc05cM73HaN+aE6plRIezlbdJmFkrIj+Ft13goYWmLI0qd1jXT94pTxGAKoKV8/AvfTKz1ywTgGD9V9t25yLSDHkM7v6dZQIQrMca8r+OckEBIFhVhINYAQSLgACYfrB2FS0ljgDB2opSyjG7OIBgVSGl9OeZdkHECiBYz376lrbwGMQKIFg74aXrTq7D9djwaCnlMNwzSwAgWLs9Tcz5QkT8JkahOr+zc7r9uPN5SSldqllhCQAVnVJFBFMAwA4LAAgWAIIFAAQLAAgWgH3yDwAA//8DAEqolpq3PZ5WAAAAAElFTkSuQmCC');
}
.theme-dark .channel-members-loading .member:nth-child(2n-4), .theme-dark .channel-members-loading .member:nth-child(7n-1){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAOrSURBVHja7N1NaxVXHMfx75irSUylQVwK+g7ULgLtwlKwaa2J4gtwIQrqplgXUtS22lYtFVQoKoIPC1+BJmqNuNBNwEUfyAuwghuhWMWHPJh0XJypoCVmMpl750z4fmBWN3Pn3HP/+d07d845k6RpiiTVwQK7QJKBJUkGliQDS5IMLEkqRyPGRq1a01N014+BhcBa4MO3HpsETgFjwAjw0LdfM/nz97t2goFVut4srHZmgbXkHYE2CQwDt4HTwGPLQPKUsFVBdSPb9gFL3xFWAJ3Z473AYeAecBDothQkA6tZuoHBLKh65/g832XB1W85SAZW2dYDfwEbSg7AK8CAJSEZWGWG1TXg/SY9fx9w3bKQDKyywqrZPm/RcSTN08D6oMUhsp7wG5kkA2sGyRtbAzhfQSs2ABstEcnAmo3vgdUVHfsysNgykQys6aWvt2Wk7K24Nd9YJpKBlcdXQFsEbeiyVKTqxTw1ZynwZQTtaAf2EkbEl7U86xJLL8rv9c/sBgOrqK3Ae5G0ZQ/wI/Byjs+zj3AFcpWlF2VgXSCMwxuyOwys/BLagBXEs9x8B2Gw6t8F9/8UOMT/V5BQXHZn2yCwmTBRXhGJ9Uf3taRsiSzYdxTctzP7xDas6qOPMMdUBlYu7dk/ekyKnJ4m2Tcr1c/XwHK7wcDKYxKYiKxNYwX26SKOCwcq9q16u91gYOXRFmHbGgVfR2KZ1Va7XWBgSdK8Cqwp4N8IT1OLvA5vrV1f43aBgZX39GtRZG3qKLDPc+AXy6yWJoBzdoOBlfeTbTSyNhUZBZ0C31pmtXQUeGA3GFgzS7hDwqXITgfPFtx3lLDu/LDlVhs/E25SoghPveKTMgXcj6hFY8CTOex/M9ucmhMvp+YYWHNykTDhOIb5hMcpZ5rGkWxz8nOcgeXkZwOrsEfASeBAxe0YB45R7tW+p5aeNHuxj8M6TvWXlk/4ySsZWHn8A/xUcRt+sEwkAyuvw8AfFR17E/DCMpEMrLxeAtsqOO5Vwt2gJRlYs/Ib8EULj3edsCaSJAOrcIi0IrR+bXE4SpqHgfVfaK2jeaPGBwkDOyUZWKW4BXxE+I2pLE8Id3nutyQkA6sZ+oDPCNMoit7N5hFhCeOVwIDlIMWtUfP2D2XbcmAXsBNYyPRTX8YJy4YMA2eyfR22IBlYLfUA2E+YYNwAPgF63vqbqSykngMjwEPffqlekjR1QUxJ9eCa7pIMLEkysCQZWJJkYElSSV4BAAD//wMApoKZxcqbQ9oAAAAASUVORK5CYII=');
}

/* LIGHT */
.theme-light .channel-members-loading .heading{
  animation: opacity 3s infinite;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAAyCAYAAABidVYtAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAEsSURBVHja7N3NSQNhGIXRGxE3fq1kYRqxDMEC8lNBxAIClmEjZmEr40aEceEEslZk8vKdswtZJLnMw8zAQBbjOAao6coEIGBAwICAQcCAgAEBAwIGAQMCBgQMAgYEDAgYEDAIGBAwIGBAwCBgQMCAgEHAgIABAQMCBgEDl+d6rg8ehuH85TLJQ5LbJPdzfq9/8pXkNclHkpck76c3WmuOQn5tMdefm50FvE2y72z3XZInAVP9EnrdYbyZfvPa4UflM/BdkrfO91+11o4OQyqegR/NbwPqBnxjfhtQ+x4YKBrwp/ltQN2AD+a3AXUDPibZdLz9ZtoAyt4DP+fnoYbe7KbfDn9yCU9iJR6lhFoBA/UvoQEBg4ABAQMCBgQMAgYEDAgYmHwDAAD//wMAsykz32oiO/oAAAAASUVORK5CYII=');
}
.theme-light .channel-members-loading .member{
  animation: opacity 3s infinite;
  background-size: auto 40px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAANzSURBVHja7N09axRBHMfxb9REoxcIKjZWvgLBRgjEBxQlT2gvIliIiBbBp0rQWEUC0SIWFoKIvWISQVAxFmIjiC/AQixEkANPoznlLHZTGBK42+y6c7vfDxwpLnsz7P75Mbc3M9vRaDSQpHawxlMgycCSJANLkoElSQaWJKVjXYidqtVqSQ/dC3QC/UDfkvfqwBTwC3gPfPbyKwuVSsWTUKbASuBQHFan48DqWeH/9gG/gdfAS+A2ULUMpPbQEeI8rBZGWIeA8/HfJKrALeCmwSVHWAZWVoHVC9wHhlNqsgocB6YtCRlY4WrHm+4DwIcUw2oxAB/HL0kGVmphNRsHTBaG48+XZGClElZFaUdSQQNr138OkQG8nyUZWAl0AndzaHcIOGKJSAZWK64AO3Nq+yHgTz6SgdWUCnAh5z5cskwkA6vZsOjOuQ8XHGVJYQh54uhm4COwMYAujQFXgbROVo+lVwjflv1a4MTRUgbWeWAioMLcQrSAOqle4AywH9ht6RXCG+AFS9akGljZCXXx81pge0D96Y4D50vC4weBB2Q34VX5OBi/LgLHcP5e5kK9h7UHOBFYsJ9KeGwFmDGsCq03vsYOrUoaWOsDvPhJ+tMBXLbMSuNy/O1AJQusOtFGeyH5meCYTcCoZVYao0SbR6pkgbUuHp2EZG3CY7oss9LoIv9pOAaWJBlYK/tNenOe0vIn4TELlllpLADznobyBVYn0Y33kGxIcMx3YNIyK41J4JWnoXyB9QuoBdanJP1pAOOWWWmMJxyJq80Daw64F9hX1DurCLohfMhFkVXja1zzVGQr1Jnuf4BPAfVnfpWBMwvswKU5RbPs0hxlx8XPzXHxs5bj4mcD65/HfI0RbeCX9+hqm8N9NcvAyk7o87BukP/PxBOGlWRgNTXYIv8tZm5YJpKB1azrwLuc2j7q6EoysFpRB07m0O4M8MgSkQysVr0l2gTvf3lC9BRoSQZW4hAZLFA7kgocWIthchB4ntHnTxtWkoGVpmfAAdJ9lHwVGIlfkgys1I0Ah4GnJJ+r9RW4RrRsZtpykMIW+kz3Zm0FzgLniLamWWnpyzzRQubXRFuBzAE/LAOlyZnuBlaz9saB1Q/0LXmvDkwRbV3zHvjs5ZeBZWBJUibc012SgSVJBpYkA0uSDCxJSslfAAAA//8DAJHWucY2swJGAAAAAElFTkSuQmCC');
}
.theme-light .channel-members-loading .member:nth-child(3n+2), .theme-light .channel-members-loading .member:nth-child(7n+4){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAN0SURBVHja7N07a1RBHIbxJ+bibQNBxcbKTyDYCILGS4wkKtqLCBZioYUYjQgBLyAkBNRCCwtB/AKKN1BU1EJsBPEDWIiFCBJwNSabsBbnLMGYhN3J2ZzZ5fnBIUUymeHsn5fZszOzLeVyGUlqBMu8BZIMLEkysCQZWJJkYElSNtpiHFSxWAxt2g20A9uArbN+VwJuAhPAJ+CbL78aQaFQ8CbEHFgBetOwOpEGVuc8f7cDmALeAa+BW8CYZSA1hpYY12HVMMPqBc6kP0OMATeA6waXnGEZWPUKrC7gHrA/oy7HgCPAI0tCBla8GvGhex/wOcOwqgTgw/SSZGBlFlZP0oCph/3p/5dkYGUSVs3Sj6QmDazNSxwiffg8SzKwArQDd3Lodx9w0BKRDKxaDAGbcur7PuBHNJKBVZUCMJDzGM5ZJpKBVW1YrMx5DAPOsqQ4xLxwdA3wBVgVwZAuAxeBrG5Wp6WnOfyc822GC0cbIrDOAKMRFdJakg3Ui3EB2AlssfQ0h/fAK2btcTWwZsS6+bkV2BDReFaSLFb9Hth+D3Ae2GXJaQE96XUWOIzrAf8T6zOs7cDRyIL9eGDbAvDMsFINuoDH+Oy0YQJreYQvVsh4WoBBy0yBBtN3G4o8sEokB+3F5E9Am9XAactMgU6THEapyAOrLZ2dxKQ1sE2HZaZAHeS/rMfAkqRmCqwpslvzlJXpwDaTlpkCTQLj3ob4A6ud5MF7TFYEtPkFXLPMFOga8NbbEH9gTQDFyMYUMp4yMGyZKdBw4MzewFpib4C7kb1Fvb2IoOsFXlpuqtLLtGaK3op/xbrSfRr4GtF4xlnct+o8Ty+35mghla05V70Vc3Pzc3Xc/Kyl4ObnBg6sSlAMRTC7Wu/0XHkxsGbEvg5rhPw/1h01rCQDq6rJFvkfMTNimUgGVrWuAB9z6vuQsyvJwKpFCTiWQ7+PgQeWiGRg1eoD0L+E/T0l+RZoSQZWcIj0N1E/kpo4sCph0kP9Vo0/MqwkAytLL4DdZPtV8mPAgfSSZGBl7gCwl+S89NC1Wj+AS8DGjANQUh3EvtK9WuuAk8ApkqNp5tv6Mk6ykfkdydEdb4DfloFi5kr35gusiu40sLYBW2f9rgTcJDm65hPwzZdfBpaBJUl14ZnukgwsSTKwJBlYkmRgSVJG/gIAAP//AwDR1bk+DPnKpQAAAABJRU5ErkJggg==');
}
.theme-light .channel-members-loading .member:nth-child(2n-4), .theme-light .channel-members-loading .member:nth-child(7n-1){
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAyCAYAAADm1uYqAAAACXBIWXMAACTpAAAk6QFQJOf4AAAAIGNIUk0AAHonAACAgwAA+mQAAIDSAAB2hgAA7OkAADmeAAAV/sZ+0zoAAAN6SURBVHja7N3PSxRhHMfxt5mVtUJUdOnUXxB0CQSzn4amFN0j6BAFdQilJAgsT4lQHSzwEET/QJEVVBZ58RaEf0CH6CBRLGSZqdhhZi+WNDvOOs8s7xcMHnbH5+HZL5+dffZ5ZhuWlpaQpCJY5xBIMrAkycCSZGBJkoElSdlYH2KnZmZm0p7aDjQBbUDrssfmgRFgDpgCpn359T+lUslBMLAy1xGH1fk4sFpWeN4BYAGYBN4B94CyZSAVQ0OI67CquMLqAHrjv2mUgbvAHYNLXmEZWLUKrK3AI6A7oybLwGlgzJKQgRWuIk66dwIfMwyrSgA+jQ9JBlZmYfU8Dpha6I7/vyQDK5Owqpd2JNVpYO1d4xDpxPksycBKoQl4kEO7x4ETlohkYFXjOrAnp7YfA35NJBlYiZSAvpz7cMUykQyspGHRnHMf+rzKksIQ8sLRbcAnYHMAXboJDABZDVaLpRecReDnX5f4Lhw1sBIGVi8wHEiXvgPbiTZQr8Y14CCwz9ILzjwwCrwFXhpYYQp183MjsCug/jQTLVb9kvL8o0A/cMiSC1p/fIwBpzJ4g1LGQp3D2g+cCSzYz6U8txS/YxtWxdFN9O20DKxENhLeRHea/jQAVy2zQuqLpwFkYCWaT5gLrE+/UpyzBbhsmRVSM3DBYTCwkn4EawisT40pz9lgmRWWM+4GllQY/sqwgZXIQoDFspjynN+WWWH9cAgMrCSaiCbeQ7IpZcHftswKaRa47zAYWEnMATOB9SlNf5aAW5ZZIQ0DXx0GAyuJCeBhYB9RR1cRdB3AG8utMG4Cgw5DeEJd6b4IfA7s40F5Fee/ig+35oSrsjVnHHjtcITJzc/J33EHcPNzPXPzs4G1qsCqBEXeWyRmgZ2EN6emNWBghSX0dVhDcWDkadiwkgysRBdb5H+LmSHLRDKwkhoEPuTU9kmvriQDqxrzwNkc2n0GPLFEJAOrWu+BrjVs7wXRPZEkGVipQ6SrjtqRVMeBVQmTI9Ru1fiYYSUZWFkaBw6T7U/Jl4Ge+JBkYGWuBzhGdL/0tGu1vgE3gN0ZB6CkGgh9pXtSO4CLwCWiW9OstPVllmgj8yTRbV8m+Md2DKnCle4GVi0Cq6I9Dqw2oHXZY/PACNGta6aAaV9+GVgGliTVhPd0l2RgSZKBJcnAkiQDS5Iy8gcAAP//AwCAdLwm4J29AAAAAABJRU5ErkJggg==');
}

/* Keyframes */
@keyframes opacity {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
