/*
  This plugin was made by Discord user: CyberRonin#5517
  Github: https://github.com/Rxswyers
*/

.guilds-wrapper .guilds .guild {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 4px;
  left: 6px;
}

.guilds-wrapper {
  width: 135px !important;
}

.guilds-wrapper .scroller-wrap {
  width: 170px;
}

.guilds-wrapper .guilds {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0;
}

.guilds-wrapper .guilds .guild:first-child {
  position: relative;
  left: -7px;
  margin: auto;
}

.guilds-wrapper .guilds .guild::not(.dms):nth-child(2)
{
  position: relative;
  bottom: -20px !important;
}

.guilds-wrapper .guilds .guild+.guild {
  margin-top: 0px;
}

.guilds-wrapper .guilds .dms {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.dms .guild:not(.guilds-add):first-child {
    margin-bottom: 0px!important;
    left: -10px;
    position: relative;
}

.dms .guild:not(.guilds-add):nth-child(2) {
    margin-bottom: 0px!important;
    left: -25px;
    position: relative;
}

.guilds-wrapper .guilds .friends-icon {
  position:relative;
	width:50px !important;
	height:50px !important;
}

.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.selected.unread:before,
.guilds-wrapper .guilds .guild.unread:before {
    z-index: 100;
    -webkit-transform: translate(60px, -20px) scale(1.2);
    transform: translate(60px, -20px) scale(1.2);
    background: var(--notif);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 hsla(0, 0%, 100%, .15);
    height: 12px;
    width: 12px;
    margin-top: 0px;
}

.guilds-wrapper .guilds .guild.selected.unread:before{
  visibility: visible !important;
  transform: translate(45px, 7px) scale(1.2);
}

.guilds-wrapper .guilds .guild.selected:before {
  content: "" !important;
  width: 4px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  visibility: hidden;
}

.new-messages-indicator {
    display:none;
}

.dms .guild .badge,
.guilds .guild.unread .badge {
    -webkit-transform: translate(-4px, -34px)!important;
    transform: translate(-4px, -34px)!important;
    z-index: 100;
}

.guilds-wrapper .guild.guilds-add {
    position: relative !important;
    left: 12px !important;
}

#bd-pub-button { display: none; }
